<ul class="space-y-4">
  <li :for={repository <- @repositories}>
    <.repository_item repository={repository} link={~p"/repositories/#{repository.git_id}"}>
      <:action></:action>
      <:details></:details>
    </.repository_item>
  </li>
</ul>
