<main class=" py-2 px-4 mx-auto">
  <nav class="flex  items-center justify-between mb-4">
    <a href="">Elxpro</a>
    <ul class="text-sky-700 hover:brightness-95">
      <li>
        <.link navigate="/repositories">All my Repos</.link>
      </li>
    </ul>
  </nav>
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
